<!DOCTYPE html>
<html>
<head>
    <meta charset="utf‐8">
    <title>Hello World!</title>
</head>
<body>
Hello 传智播客!
<br>
遍历数据模型中list中的学生信息
<table>
    <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>金额</td>
        <td>出生日期</td>

    </tr>
        <tr>
            <td>1</td>
            <td style="background: aqua" >小明</td>
            <td>18</td>
            <td style="background: aqua" >1,000.86</td>
            <td>2020年06月24日</td>
        </tr>
        <tr>
            <td>2</td>
            <td >小红</td>
            <td>19</td>
            <td >200.1</td>
            <td>2020年06月24日</td>
        </tr>
    <br>
    学生个数:2
</table>
<br>
遍历数据模型中的stuMap
<br>
姓名：小明<br>
年龄：18<br>

姓名：小明<br>
年龄：18<br>

<br>
遍历map中的key.stuMap?keys就是key列表（list）
<br>
    姓名：小红<br>
    年龄：19<br>
    姓名：小明<br>
    年龄：18<br>

<br>
102920122
<br>
开户行：工商银行 账号：10101920201920212
</body>
</html>



